
<footer
  class="container footer d-flex flex-wrap justify-content-center align-items-center py-3 px-3 my-4 border-top"
>
  <ul class="nav list-unstyled d-flex justify-content-center w-100">
    <li class="ms-3 p-1 me-2">
      <a class="text-body-secondary" href="https://www.linkedin.com/in/charles-dail-b689771" target="_blank" aria-label="LinkedIn"
        ><img src="images/linkedin.png" class="social-icon" alt="LinkedIn" /></a
      >
    </li>
    <li class="ms-3 p-1 me-2">
      <a class="text-body-secondary" href="https://github.com/tonydail" target="_blank" aria-label="GitHub"
        ><img src="images/GitHub_Invertocat_Black.png" alt="GitHub" class="social-icon" /></a
      >
    </li>
    <li class="ms-3 p-1 me-2">
      <a class="text-body-secondary" href="mailto:tony.dail@gmail.com" target="_blank" aria-label="Email"
        ><img src="images/email.png" alt="Email" class="social-icon" /></a
      >
    </li>
  </ul>
</footer>
