
<footer
  class="container footer d-flex flex-wrap justify-content-center align-items-center py-3 px-3 my-4 border-top"
  role="contentinfo"
>
  <ul class="nav list-unstyled d-flex justify-content-center w-100">
    <li class="ms-3 p-1 me-2">
      <a class="text-body-secondary" href="https://www.linkedin.com/in/charlesadail" target="_blank" rel="noopener noreferrer" aria-label="Visit my LinkedIn profile"
        ><img src="images/linkedin.png" class="social-icon" alt="LinkedIn logo" /></a
      >
    </li>
    <li class="ms-3 p-1 me-2">
      <a class="text-body-secondary" href="https://github.com/tonydail" target="_blank" rel="noopener noreferrer" aria-label="Visit my GitHub profile"
        ><img src="images/GitHub_Invertocat_Black.png" alt="GitHub logo" class="social-icon" /></a
      >
    </li>
    <li class="ms-3 p-1 me-2">
      <a class="text-body-secondary" href="mailto:tony.dail@gmail.com" aria-label="Send me an email"
        ><img src="images/email.png" alt="Email icon" class="social-icon" /></a
      >
    </li>
  </ul>
</footer>
