
<footer
  class="container footer d-flex flex-wrap justify-content-center align-items-center py-3 px-3 my-4 border-top"
  role="contentinfo"
>
  <div class="cta-group">
            <a href="mailto:tony.dail@gmail.com" class="btn-primary-custom">
              <i class="fas fa-envelope"></i> Contact Me
            </a>
            <a href="https://www.linkedin.com/in/charlesadail" target="_blank" class="btn-secondary-custom">
              <i class="fab fa-linkedin"></i> LinkedIn Profile
            </a>
            <a href="https://github.com/tonydail" target="_blank" class="btn-outline-custom">
              <i class="fab fa-github"></i> GitHub Profile
            </a>
          </div>
</footer>
