<header class="container-fluid d-flex flex-wrap justify-content-center py-3 px-1 mb-4 border-bottom">
  <a
    href="index.html"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <span class="fs-3">Charles Dail</span>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="index.html" class="nav-link" data-nav="home">Home</a>
    </li>
    <li class="nav-item">
      <a href="portfolio.html" class="nav-link" data-nav="projects">Portfolio</a>
    </li>
    <li class="nav-item">
      <a href="about.html" class="nav-link" data-nav="about">About</a>
    </li>
  </ul>
</header>
